In [40]:
import pandas as pd
import numpy as np
import csv

In [5]:
df1 = (["Ruby", "2", "Summer"],
["Emerald", "4", "Fall"],
["Sapphire", "7", "Winter"])

df1

(['Ruby', '2', 'Summer'],
 ['Emerald', '4', 'Fall'],
 ['Sapphire', '7', 'Winter'])

In [6]:
len(df1)

3

In [12]:
df1[1:2]

(['Emerald', '4', 'Fall'],)

In [15]:
age1 = "I am thirty-one years old"
age2 = age1.replace('thirty-one', 'thirty-two')
age2

'I am thirty-two years old'

In [10]:
moma = pd.read_csv('moma_artworks.csv')
moma.head()

,Artwork ID,Title,Artist ID,Name,Date,Medium,Dimensions,Acquisition Date,Credit,Catalogue,...,Classification,Object Number,Diameter (cm),Circumference (cm),Height (cm),Length (cm),Width (cm),Depth (cm),Weight (kg),Duration (s)
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,Otto Wagner,1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",1996-04-09,Fractional and promised gift of Jo Carole and ...,Y,...,Architecture,885.1996,NaN,NaN,48.6000,NaN,168.9000,NaN,NaN,NaN
1,3,"City of Music, National Superior Conservatory ...",7470,Christian de Portzamparc,1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",1995-01-17,Gift of the architect in honor of Lily Auchinc...,Y,...,Architecture,1.1995,NaN,NaN,40.6401,NaN,29.8451,NaN,NaN,NaN
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,Emil Hoppe,1903,"Graphite, pen, color pencil, ink, and gouache ...","13 1/2 x 12 1/2"" (34.3 x 31.8 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,...,Architecture,1.1997,NaN,NaN,34.3000,NaN,31.8000,NaN,NaN,NaN
3,5,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1980,Photographic reproduction with colored synthet...,"20 x 20"" (50.8 x 50.8 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,2.1995,NaN,NaN,50.8000,NaN,50.8000,NaN,NaN,NaN
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,Emil Hoppe,1903,"Graphite, color pencil, ink, and gouache on tr...","15 1/8 x 7 1/2"" (38.4 x 19.1 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,...,Architecture,2.1997,NaN,NaN,38.4000,NaN,19.1000,NaN,NaN,NaN

In [11]:
len(moma)

130262

## string replace()

In [34]:
nationalities = ['(American)', '(Spanish)', '(French)']

for n in nationalities:
    clean_open = n.replace("(","")
    # add another replace
    clean_both = clean_open.replace(")","")
    print(clean_both)

American
Spanish
French

In [33]:
artists = pd.read_csv('artists.csv')
artists.head(10)

   Artist ID             Name Nationality  Gender  Birth Year  Death Year
0          1   Robert Arneson    American    Male      1930.0      1992.0
1          2   Doroteo Arnaiz     Spanish    Male      1936.0         NaN
2          3      Bill Arnold    American    Male      1941.0         NaN
3          4  Charles Arnoldi    American    Male      1946.0         NaN
4          5      Per Arnoldi      Danish    Male      1941.0         NaN
5          6    Danilo Aroldi     Italian    Male      1925.0         NaN
6          7        Bill Aron    American    Male      1941.0         NaN
7          9    David Aronson    American    Male      1923.0         NaN
8         10    Irene Aronson    American  Female      1918.0         NaN
9         11  Jean (Hans) Arp      French    Male      1886.0      1966.0

In [32]:
artists['Gender'].unique()

array(['Male', 'Female', nan, 'male'], dtype=object)

In [49]:
artists['Nationality'].unique()

array(['American', 'Spanish', 'Danish', 'Italian', 'French', 'Estonian',
       'Mexican', 'Swedish', nan, 'Israeli', 'British', 'Finnish',
       'Polish', 'Japanese', 'Guatemalan', 'Colombian', 'Romanian',
       'Russian', 'German', 'Argentine', 'Kuwaiti', 'Various', 'Belgian',
       'Dutch', 'Norwegian', 'Nationality unknown', 'Chilean', 'Swiss',
       'Costa Rican', 'Czech', 'Brazilian', 'Austrian', 'Canadian',
       'Australian', 'Ukrainian', 'Hungarian', 'Haitian', 'Congolese',
       'Bolivian', 'Cuban', 'Yugoslav', 'Portuguese', 'Indian',
       'Icelandic', 'Irish', 'Guyanese', 'Uruguayan', 'Slovak',
       'Croatian', 'Greek', 'Peruvian', 'Chinese', 'Venezuelan',
       'Turkish', 'Panamanian', 'Algerian', 'Ecuadorian', 'South African',
       'Iranian', 'Korean', 'Canadian Inuit', 'Paraguayan',
       'Luxembourgish', 'Nicaraguan', 'Zimbabwean', 'Moroccan',
       'Tanzanian', 'Bulgarian', 'Tunisian', 'Sudanese', 'Taiwanese',
       'Ethiopian', 'Slovenian', 'Scottish', 'Latvian',
       'Nationality Unknown', 'Senegalese', 'Thai', 'Lithuanian',
       'Pakistani', 'Bahamian', 'Bosnian', 'Malian', 'Czechoslovakian',
       'Georgian', 'New Zealander', 'Egyptian', 'Kenyan', 'Emirati',
       'Nigerian', 'Cypriot', 'Albanian', 'Azerbaijani', 'Ivorian',
       'Malaysian', 'Singaporean', 'Serbian', 'Tajik', 'Namibian',
       'Cambodian', 'Ghanaian', 'Afghan', 'Native American', 'Lebanese',
       'Kyrgyzstani', 'Vietnamese', 'nationality unknown', 'Ugandan',
       'Cameroonian', 'Welsh', 'Mauritanian', 'Palestinian', 'Syrian',
       'Iraqi', 'Saudi Arabian', 'Kazakhstani', 'Rwandan', 'Indonesian',
       'Burkinabe', 'Macedonian', 'Filipino', 'Mozambican', 'Angolan',
       'Puerto Rican', 'Catalan', 'Sahrawi'], dtype=object)

## open(), reader()

In [46]:
opened_file = open('artists.csv', encoding="utf8")
read_file = csv.reader(opened_file)
artists2= list(read_file)
artists3 = artists2[1:]
artists3[:10] # removes column header names

[['1', 'Robert Arneson', 'American', 'Male', '1930', '1992'],
 ['2', 'Doroteo Arnaiz', 'Spanish', 'Male', '1936', ''],
 ['3', 'Bill Arnold', 'American', 'Male', '1941', ''],
 ['4', 'Charles Arnoldi', 'American', 'Male', '1946', ''],
 ['5', 'Per Arnoldi', 'Danish', 'Male', '1941', ''],
 ['6', 'Danilo Aroldi', 'Italian', 'Male', '1925', ''],
 ['7', 'Bill Aron', 'American', 'Male', '1941', ''],
 ['9', 'David Aronson', 'American', 'Male', '1923', ''],
 ['10', 'Irene Aronson', 'American', 'Female', '1918', ''],
 ['11', 'Jean (Hans) Arp', 'French', 'Male', '1886', '1966']]

In [48]:
artists2[:10] # includes column header names

[['Artist ID', 'Name', 'Nationality', 'Gender', 'Birth Year', 'Death Year'],
 ['1', 'Robert Arneson', 'American', 'Male', '1930', '1992'],
 ['2', 'Doroteo Arnaiz', 'Spanish', 'Male', '1936', ''],
 ['3', 'Bill Arnold', 'American', 'Male', '1941', ''],
 ['4', 'Charles Arnoldi', 'American', 'Male', '1946', ''],
 ['5', 'Per Arnoldi', 'Danish', 'Male', '1941', ''],
 ['6', 'Danilo Aroldi', 'Italian', 'Male', '1925', ''],
 ['7', 'Bill Aron', 'American', 'Male', '1941', ''],
 ['9', 'David Aronson', 'American', 'Male', '1923', ''],
 ['10', 'Irene Aronson', 'American', 'Female', '1918', '']]

## title()

In [50]:
for row in artists3:
    gender = row[3]
    # convert the gender to title case
    gender = gender.title()
# if there is no gender, set a descriptive value
    if not gender:
        gender = "Gender Unknown/Other"
    row[3] = gender

In [54]:
artists3[100:110]

[['114', 'James Alinder', 'American', 'Male', '1941', ''],
 ['115', 'Yves Alix', 'French', 'Male', '1890', '1969'],
 ['116', 'Wobbe Alkema', 'Dutch', 'Male', '1900', '1984'],
 ['117', 'William Allan', 'American', 'Male', '1936', ''],
 ['118', 'Alexander Alland', 'American', 'Male', '1902', '1989'],
 ['119', 'Harry Allen', 'American', 'Male', '1964', ''],
 ['120', 'Terry Allen', 'American', 'Male', '1943', ''],
 ['121', 'Adrian Allinson', 'British', 'Male', '1890', '1959'],
 ['123', 'Carlos Alonso', 'Argentine', 'Male', '1929', ''],
 ['124', 'Glen Alps', 'American', 'Male', '1914', '1996']]

In [56]:
for row in artists3[5:15]: # see rows 5 to 14
    birth_date = row[4]
    death_date = row[5]
    print([birth_date, death_date])

['1925', '']
['1941', '']
['1923', '']
['1918', '']
['1886', '1966']
['1936', '']
['1911', '1995']
['1907', '1997']
['1900', '1964']
['', '']

### function to remove brackets ()

In [ ]:
# ValueError: invalid literal for int() with base 10: ''
# This is Python saying "You asked me to convert the string '' to an int type. I tried to do that, but I couldn't, because I don't know how to represent an empty string as an integer."
# (1972) ==> 1972
def clean_and_convert(date):
    # check that we don't have an empty string
    if date != "":
        # move the rest of the function inside
        # the if statement
        date = date.replace("(", "")
        date = date.replace(")", "")
        date = int(date) 
    return date


for row in moma:
    birth_date = row[3]
    death_date = row[4]
    
    birth_date = clean_and_convert(birth_date)
    death_date = clean_and_convert(death_date)
    
    row[3] = birth_date
    row[4] = death_date

In [60]:
strings = ["good!", "morn?ing", "good?!", "morniZZZZng"]
bad_chars = ["!", "?", "Z"]

In [61]:
def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char,"")
    return string

In [62]:
cleaned_strings = []
for s in strings:
    s = strip_characters(s) # go through the 'strip_characters()' function
    cleaned_strings.append(s)

print(cleaned_strings)

['good', 'morning', 'good', 'morning']

In [63]:
test_data = ["1912", "1929", "1913-1923",
             "(1951)", "1994", "1934",
             "c. 1915", "1995", "c. 1912",
             "(1988)", "2002", "1957-1959",
             "c. 1955.", "c. 1970's", 
             "C. 1990-1999"]

bad_chars = ["(",")","c","C",".","s","'", " "]

In [64]:
def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char,"")
    return string

In [65]:
stripped_test_data=[]
for t in test_data:
    t = strip_characters(t) # go through the 'strip_characters()' function
    stripped_test_data.append(t)
 
print(stripped_test_data) # <<<<<<<<<<<<<

['1912', '1929', '1913-1923', '1951', '1994', '1934', '1915', '1995', '1912', '1988', '2002', '1957-1959', '1955', '1970', '1990-1999']

In [ ]:
def process_date(date): # function to split range of date 
    if '-' in date:
        split_date = date.split("-")
        date_one = split_date[0]
        date_two = split_date[1]
        date = (int(date_one) + int(date_two))/2 # average of 2 dates
        date = round(date) # round to nearest whole number/integer
    else:
        date = int(date)
    return date

In [ ]:
processed_test_data=[]

for d in stripped_test_data: # <<<<<<<<<<<<<
    date = process_date(d)
    processed_test_data.append(date) # append to empty list all dates (no date ranges '1957-1959')
"""
for row in moma:
    date = row[6]
    date = strip_characters(date) # remove characters
    date = process_date(date)     # remove date ranges
    row[6] = date
"""

## in operator

In [66]:
if "car" in "carpet":
    print("The substring was found.")
else:
    print("The substring was not found.")

The substring was found.

In [67]:
if "mike" in "michael":
    print("The substring was found.")
else:
    print("The substring was not found.")

The substring was not found.

In [68]:
three_peat = "1991-1993"
print(three_peat.split("-"))

['1991', '1993']